.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.container > main {
  height: 100%;
  width: 100%;
  max-width: calc(100vw - 220px);
}

@media (max-width: 768px) {
  .container > main {
    max-width: 100%;
  }
}
