.container {
  display: flex;
  flex-direction: column;
  background: #333;
  width: 8rem;
  min-width: 8rem;
  max-width: 8rem;
  height: 100vh;
  padding: 2rem 1.5rem;
}

.container ul {
  list-style: none;
}

.container ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  margin-bottom: 2.2rem;
  color: var(--white);
  cursor: pointer;
  transition: 0.1s all;
  font-weight: 300;
}

.container ul li a:hover {
  color: var(--blue-hover);
  transform: scale(1.05);
}

.container ul li :global(a.active) {
  color: var(--blue-hover);
}

.container ul li a p {
  margin-top: 0.5rem;
}

.container ul li a svg {
  font-size: 2.2rem;
}

:global(#check_menu) {
  display: none;
}

@media (max-width: 768px) {
  .container {
    transition: all 0.2s linear;
    left: -250px;
    position: absolute;
    z-index: 10;
  }

  :global(#check_menu:checked) ~ .container {
    transform: translateX(250px);
  }

  :global(#check_menu:checked) ~ :global(#backdrop) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 8;
  }
}
