.container {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 22rem;
  min-width: 22rem;
  max-width: 22rem;
  height: 100vh;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.container > a > img {
  width: 15rem;
  margin: 3rem 0 5rem;
  transition: 0.1s;
}

.container > a > img:hover {
  transform: scale(1.1);
}

.container ul {
  list-style: none;
}

.container ul li a {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  color: var(--font2);
  cursor: pointer;
  transition: 0.1s all;
  font-weight: 300;
}

.container ul li a:hover {
  color: var(--blue);
  transform: scale(1.05);
}

.container ul li :global(a.active) {
  color: var(--blue);
}

.container ul li a p {
  margin-left: 0.5rem;
}

.container ul li a svg {
  font-size: 2.2rem;
}

:global(#check_menu) {
  display: none;
}

:global(label[for='check_menu']) {
  display: none;
}

@media (max-width: 768px) {
  .container {
    transition: all 0.2s linear;
    left: -250px;
    position: absolute;
    z-index: 10;
  }

  .container ul li a {
    font-size: 2rem;
  }

  :global(label[for='check_menu']) {
    display: block;
    position: absolute;
    top: 4rem;
    left: 2rem;
    font-size: 2.4rem;
    z-index: 10;
  }

  :global(#check_menu:checked) ~ .container {
    transform: translateX(250px);
  }

  :global(#check_menu:checked) ~ :global(#backdrop) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 8;
  }
}

@media (max-width: 425px) {
  .container ul li a {
    font-size: 2.2rem;
  }
}
