.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container img {
  width: 22rem;
  cursor: pointer;
}

.container ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.container ul li {
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
}

.container ul li :global(a.active) {
  color: var(--blue);
}

.container ul li:hover {
  color: var(--white-hover);
}

.container ul li + li {
  margin-left: 4rem;
}

.container ul li button {
  background: var(--blue);
  color: var(--white);
  border: 0;
  font-size: 2rem;
  height: 4rem;
  padding: 0 5rem;
  border-radius: 5px;
}

.container ul li button:hover {
  background: var(--blue-hover);
}

.container svg {
  display: none;
  color: var(--white);
  font-size: 3rem;
}

.container input[type='checkbox'] {
  display: none;
}

.container label[for='check']:hover {
  color: var(--white-hover);
}

.container label[for='check'] {
  display: none;
}

@media (max-width: 630px) {
  .container ul li {
    font-size: 2.2rem;
  }

  .container img {
    width: 18rem;
  }

  .container ul li + li {
    margin-left: 0;
    margin-top: 3rem;
  }

  .container ul {
    transition: all 0.2s linear;
    top: -200px;
    right: 0;
    left: 0;
    position: absolute;
    background: var(--background2);
    z-index: 5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  .container ul svg {
    position: absolute;
    right: 0;
    top: 0;
    margin: 4rem 3rem;
  }

  .container label[for='check'] {
    display: block;
  }

  .container svg {
    display: block;
  }

  :global(#check:checked) ~ .menuMobile {
    transform: translateY(200px);
  }
}
