.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 3rem 5rem;
}

.container main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 4rem 5rem 0 3rem;
}

.container main > section > div {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  margin-left: 2rem;
}

.container main > section > div p {
  color: var(--green);
  font-weight: 500;
  font-size: 2.5rem;
}

.container main > section > div svg {
  color: var(--green);
  font-size: 7rem;
  margin-right: 1rem;
}

.container main > section > div[errorstyle='true'] p,
.container main > section > div[errorstyle='true'] svg {
  color: var(--red);
}

.container main > section div[lightstyle='true'] p,
.container main > section div[lightstyle='true'] svg {
  color: var(--white);
}

@media (max-width: 630px) {
  .container {
    padding: 3rem;
  }

  .container main {
    padding: 10rem 1rem 0 1rem;
  }
}

@media (max-width: 590px) {
  .container main {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .container main > div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container main > div p {
    text-align: center;
    margin-top: 3rem;
  }
}
