.container {
  display: flex;
  min-height: 100%;
  height: auto;
}

.panelVacancies {
  width: 100%;
}

.contentPanel {
  display: flex;
  flex-direction: column;
  padding: 3rem 10rem;
}

.contentPanel h1 {
  color: #FFF;
}

.suggestedVacancies {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.suggestedVacancies h3{
  color: #FFF;
  font-size: 2.0rem;
  font-weight: 500;
  margin: 5rem 0 3rem 0;
}

.gridVacancies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 1rem;
}
