.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #333;
  width: 26rem;
  height: 25rem;
  border-radius: 8px;
}

.content h1 {
  color: #FFF;
  font-size: 1.8rem;
}
.content h2 {
  color: #FFF;
  font-weight: 300;
  font-size: 1.4rem;
}

.content .avatarCard {
  width: 100%;
  height: 9.3rem;
  min-height: 9.3rem;
  overflow: hidden;
  object-fit: cover;
}

.content .avatarCard img{
  width: 100%;
}

.content .contentCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.5rem;
}

.content .contentCard h1{
  font-weight: 500;
}

.content .contentCard .bottomCard{
  display: flex;
  justify-content: space-between;
}
.content .contentCard .bottomCard h2{
  margin-bottom: 0;
}
