.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.contentPanel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 5rem 10rem;
}

@media (max-width: 1024px) {
  .contentPanel {
    padding: 5rem;
  }
}

@media (max-width: 425px) {
  .contentPanel {
    padding: 5rem 2rem;
  }
}
