.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 3rem 5rem;
}

.container main {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 10rem 5rem 0 1rem;
}

.container main > div {
  display: flex;
  flex-direction: column;
  margin-right: 7rem;
}

.container main > div h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--white);
  max-width: 50rem;
  margin-bottom: 5rem;
  z-index: 2;
}

.container main > div img {
  width: 45rem;
}

.container main form {
  display: flex;
  flex-direction: column;
  width: 28rem;
  margin-left: 7rem;
}

.container main form h1 {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.container main form input {
  border: 0;
  background-color: var(--background2);
  height: 4rem;
  border-radius: 5px;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: var(--white);
}

.container main form button {
  background: var(--blue);
  color: var(--white);
  border: 0;
  font-size: 1.6rem;
  height: 4rem;
  padding: 0 5rem;
  border-radius: 5px;
  align-self: center;
  margin-top: 2rem;
}

.container main form button:hover {
  background: var(--blue-hover);
}

.container main form a {
  align-self: center;
  margin-top: 4rem;
  color: var(--white);
}

.container main form a:hover {
  color: var(--white-hover);
}

.container main form input + span {
  color: var(--red);
  margin-bottom: 2rem;
}

.container main form input[errored='true'] {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .container main > div h1 {
    font-size: 2.5rem;
    max-width: 40rem;
  }

  .container main > div img {
    width: 35rem;
  }
}

@media (max-width: 630px) {
  .container {
    padding: 3rem;
  }

  .container main form {
    margin-left: 0;
  }

  .container main {
    padding: 10rem 1rem 0 1rem;
  }

  .container main > div h1 {
    font-size: 2.5rem;
    max-width: 30rem;
  }
}

@media (max-width: 590px) {
  .container main {
    justify-content: center;
  }

  .container main > div {
    display: none;
  }

  .container main > form {
    width: 100%;
  }
}
