.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.container :global(.mde-header) {
  display: none !important;
}

.container :global(.react-mde) {
  border: 0 !important;
}

.container > section {
  background: var(--background);
  border-radius: 30px;
  color: #fff;
  max-height: 95%;
  max-width: 40%;
  min-width: 40%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  padding: 4rem 0;
}

.container > section > div {
  overflow: auto;
  height: 100%;
  padding: 0 3rem;
  overflow-x: hidden;
}

.container > section > div > h1 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  color: var(--blue);
  font-weight: 400;
  text-align: center;
}

.container > section > div > h2 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--font1);
}

.container > section > div > h2 strong {
  font-weight: 500;
  color: var(--blue);
}

.container div p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: justify;
}
.container .imageModalPost {
  background: red;
  width: 100%;
  height: 20rem;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}
.container .imageModalPost img {
  width: 100%;
}

.container div .contentAddComments {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 2rem;
}

.container div .contentAddComments input {
  background: transparent;
  color: #fff;
  padding: 0 1.5rem;
  border: 1px solid var(--gray);
  border-radius: 8px;
  max-height: 4rem;
  height: 4rem;
  width: 100%;
  color: var(--font1);
  font-weight: 300;
}

.container div .contentAddComments button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #007bdb;
  color: #007bdb;
  padding: 1rem;
  margin-left: 0.5rem;
  border-radius: 8px;
  font-size: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

:global(.wmde-markdown P) {
  font-size: 1.6rem !important;
}

.comments {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.comments > div {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-bottom: 2rem;
}

.comments > div h1 {
  font-size: 1.6rem;
  color: var(--blue);
  font-weight: 300;
}

.comments > div h1 > small {
  margin-left: 1rem;
  color: var(--font1);
}

.comments > div p {
  font-size: 1.5rem;
  color: var(--font1);
  font-weight: 300;
  margin-top: 1rem;
}
