.container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 2rem 2.5rem;
  width: 100%;
  border: 1px solid #333;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.container:hover {
  color: var(--white-hover);
  border: 1px solid #666;
}

.container h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.container h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
}
.container p {
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 1rem;
}

.comments {
  display: flex;
  align-items: center;
  width: auto;
}
